.styledPokemon{
    min-height: 10vh;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #365EAB;
    cursor: pointer;
    color: #FFCC01;
} 

